package components

templ Checkbox(text, id, name, value string, is_checked bool) {
<input class="hidden" type="checkbox" name={ name } id={ id } value={ value } checked?={ is_checked } />
<label class="checkbox" for={ id }>
  { text }
</label>
}
