package components

templ LabeledTextarea(label string, attrs templ.Attributes, value string) {
	<div class="labeled-input-parent">
		{ label }
		<textarea { attrs... } class="min-h-40">{ value }</textarea>
	</div>
}
