package components

templ NavbarButton(text, href, request_url string) {
<div class="flex flex-col group items-center text-sm md:text-base text-nowrap">
  <a href={ templ.SafeURL(href) } hx-push-url={ href } hx-get={ request_url } class="text-sm">{ text }</a>
  <div class="max-w-0 group-hover:max-w-full w-full h-0.5 bg-black"></div>
</div>
}
