package user_templates

import "github.com/w1png/go-htmx-ecommerce-template/templates"

templ Base(title string) {
	@templates.Base(title) {
		<div class="overflow-x-hidden">
			@Navbar()
			{ children... }
		</div>
	}
}
